main{
    #serv{
        border: solid 2px rgb(7, 7, 7); 
        overflow: auto;
        padding: 1.5rem;
        text-align: center; 
        margin: 1.5rem;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        color: #0f0f0f;
        text-align: justify;
        padding: 2px 4rem;
        
        
        div{
            img{
                width: 15rem;
                height: 12rem;

            }
            
        }
    }
}